<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  
    <a href="/logout">Logout</a>
    <a href="/dashboard">dashboard</a>
    <div class="container">
        <div class="row">
            <tbody>
                <tr>
                    <td>{{cars.model}}</td>
                    <td>{{cars.year}}</td>
                    <td>{{cars.make}}</td>
                    <td>{{cars.price}}</td>
                    <td>{{cars.description}}</td>
                </tr>
            </tbody>
        </div>
    </div>
</body>
</html>